LLM_MODEL_TYPE="DashScope"
LLM_MODEL_ID="qwen-plus"  # deepseek-v3.2-chat, qwen-plus, qwen3-coder-plus, qwen2.5-32b-instruct, qwen3-32b
LLM_API_KEY="your-api-key-here"
LLM_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
LLM_TIMEOUT=60
