# 敏感信息
.env
# Python
# 项目生成的数据和缓存
inputspace/
outputspace/
database_file/
tmp/
extracted_paper_method_V3/
softwares_database/
softwares/ms2deepscore/
RAMClustR-master/
# 模型大文件
*.npy
*.model
*.syn1neg.npy
*.wv.vectors.npy
# Cursor 配置
.cursorignore
.cursor/
# 其他
github协作.txt
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
src/.history/
.history/
